@page
@model EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Elastic</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Elastic1Language.Id" />

            <div class="form-group">
                <label asp-for="Elastic1Language.MethodE" class="control-label"></label>
                <input asp-for="Elastic1Language.MethodE" class="form-control" />
                <span asp-validation-for="Elastic1Language.MethodE" class="text-danger"></span>
            </div>    
            <div class="form-group">
                <label asp-for="Elastic1Language.ZnE" class="control-label"></label>
                <input asp-for="Elastic1Language.ZnE" class="form-control" />
                <span asp-validation-for="Elastic1Language.ZnE" class="text-danger"></span>
            </div>    

            <div class="form-group">
                <label asp-for="Elastic1Invariant.TemperEl" class="control-label"></label>
                <input asp-for="Elastic1Invariant.TemperEl" class="form-control" />
                <span asp-validation-for="Elastic1Invariant.TemperEl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Elastic1Invariant.CondClu1" class="control-label"></label>
                <input asp-for="Elastic1Invariant.CondClu1" class="form-control" />
                <span asp-validation-for="Elastic1Invariant.CondClu1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Elastic1Invariant.E1" class="control-label"></label>
                <input asp-for="Elastic1Invariant.E1" class="form-control" />
                <span asp-validation-for="Elastic1Invariant.E1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Elastic1Invariant.ErrE" class="control-label"></label>
                <input asp-for="Elastic1Invariant.ErrE" class="form-control" />
                <span asp-validation-for="Elastic1Invariant.ErrE" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Elastic1Invariant.SingCode" class="control-label"></label>
                <select asp-for="Elastic1Invariant.SingCode" class="form-control" asp-items="ViewBag.SingCode"></select>
                <span asp-validation-for="Elastic1Invariant.SingCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Elastic1Invariant.Bknumber" class="control-label"></label>
                <input asp-for="Elastic1Invariant.Bknumber" class="form-control" />
                <span asp-validation-for="Elastic1Invariant.Bknumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a onclick="window.history.back();">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}