@page
@model EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Cury</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CuryTablLanguage.Id" />


            <div class="form-group">
                <label asp-for="CuryTablLanguage.Oboztran" class="control-label"></label>
                <input asp-for="CuryTablLanguage.Oboztran" class="form-control" />
                <span asp-validation-for="CuryTablLanguage.Oboztran" class="text-danger"></span>
            </div>    

            <div class="form-group">
                <label asp-for="CuryTablInvariant.CuryTemp" class="control-label"></label>
                <input asp-for="CuryTablInvariant.CuryTemp" class="form-control" />
                <span asp-validation-for="CuryTablInvariant.CuryTemp" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CuryTablInvariant.ErrCury" class="control-label"></label>
                <input asp-for="CuryTablInvariant.ErrCury" class="form-control" />
                <span asp-validation-for="CuryTablInvariant.ErrCury" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="CuryTablInvariant.Bknumber" class="control-label"></label>
                <input asp-for="CuryTablInvariant.Bknumber" class="form-control" />
                <span asp-validation-for="CuryTablInvariant.Bknumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a onclick="window.history.back();">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}