@page "{systemUrl}"
@model CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="HeatExpnLanguage.MethodEx" class="control-label"></label>
                <input asp-for="HeatExpnLanguage.MethodEx" class="form-control"/>
                <span asp-validation-for="HeatExpnLanguage.MethodEx" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeatExpnLanguage.Znak1" class="control-label"></label>
                <input asp-for="HeatExpnLanguage.Znak1" class="form-control"/>
                <span asp-validation-for="HeatExpnLanguage.Znak1" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="HeatExpnLanguage.HeatExpn.DataType" class="control-label"></label>
                <input asp-for="HeatExpnLanguage.HeatExpn.DataType" class="form-control"/>
                <span asp-validation-for="HeatExpnLanguage.HeatExpn.DataType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeatExpnLanguage.HeatExpn.Temper_1" class="control-label"></label>
                <input asp-for="HeatExpnLanguage.HeatExpn.Temper_1" class="form-control"/>
                <span asp-validation-for="HeatExpnLanguage.HeatExpn.Temper_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeatExpnLanguage.HeatExpn.Temper_2" class="control-label"></label>
                <input asp-for="HeatExpnLanguage.HeatExpn.Temper_2" class="form-control"/>
                <span asp-validation-for="HeatExpnLanguage.HeatExpn.Temper_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeatExpnLanguage.HeatExpn.S11" class="control-label"></label>
                <input asp-for="HeatExpnLanguage.HeatExpn.S11" class="form-control"/>
                <span asp-validation-for="HeatExpnLanguage.HeatExpn.S11" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeatExpnLanguage.HeatExpn.ErrHExp" class="control-label"></label>
                <input asp-for="HeatExpnLanguage.HeatExpn.ErrHExp" class="form-control"/>
                <span asp-validation-for="HeatExpnLanguage.HeatExpn.ErrHExp" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="HeatExpnLanguage.HeatExpn.SingCode" class="control-label"></label>
                <select asp-for="HeatExpnLanguage.HeatExpn.SingCode" class="form-control" asp-items="ViewBag.SingCode"></select>
                <span asp-validation-for="HeatExpnLanguage.HeatExpn.SingCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="HeatExpnLanguage.HeatExpn.Bknumber" class="control-label"></label>
                <input asp-for="HeatExpnLanguage.HeatExpn.Bknumber" class="form-control" />
                <span asp-validation-for="HeatExpnLanguage.HeatExpn.Bknumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a onclick="window.history.back();">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}