@page
@using Utils
@model SearchPageModel


@{
    ViewData["Title"] = "Index";
}


<h3>Поиск</h3>

<form method="post">
    

        <div>
            <a role="button" data-toggle="collapse" href="#AcOpTablCollapse"
                aria-expanded="false" aria-controls="AcOpTablCollapse">
                AcOpTabl
            </a>
        </div>

        <div class="collapse" id="AcOpTablCollapse">
        <div class="form-group form-inline">
                <label asp-for="SearchRequest.AcOpTablCommon.AcOpTabl.M1" class="control-label"></label>
                <input asp-for="SearchRequest.AcOpTablMin.AcOpTabl.M1" class="control-label"/>
                <input asp-for="SearchRequest.AcOpTablMax.AcOpTabl.M1" class="control-label"/>
        </div>
        <div class="form-group form-inline">
                <label asp-for="SearchRequest.AcOpTablCommon.AcOpTabl.M2" class="control-label"></label>
                <input asp-for="SearchRequest.AcOpTablMin.AcOpTabl.M2" class="control-label"/>
                <input asp-for="SearchRequest.AcOpTablMax.AcOpTabl.M2" class="control-label"/>
        </div>
        <div class="form-group form-inline">
                <label asp-for="SearchRequest.AcOpTablCommon.AcOpTabl.M3" class="control-label"></label>
                <input asp-for="SearchRequest.AcOpTablMin.AcOpTabl.M3" class="control-label"/>
                <input asp-for="SearchRequest.AcOpTablMax.AcOpTabl.M3" class="control-label"/>
        </div>
        </div>

        <div>
            <a role="button" data-toggle="collapse" href="#CuryTablCollapse"
                aria-expanded="false" aria-controls="CuryTablCollapse">
                CuryTabl
            </a>
        </div>

        <div class="collapse" id="CuryTablCollapse">
        <div class="form-group form-inline">
                <label asp-for="SearchRequest.CuryTablCommon.CuryTabl.CuryTemp" class="control-label"></label>
                <input asp-for="SearchRequest.CuryTablMin.CuryTabl.CuryTemp" class="control-label"/>
                <input asp-for="SearchRequest.CuryTablMax.CuryTabl.CuryTemp" class="control-label"/>
        </div>
        </div>

        <div>
            <a role="button" data-toggle="collapse" href="#DecrTablCollapse"
                aria-expanded="false" aria-controls="DecrTablCollapse">
                DecrTabl
            </a>
        </div>

        <div class="collapse" id="DecrTablCollapse">
        <div class="form-group form-inline">
                <label asp-for="SearchRequest.DecrTablCommon.DecrTabl.Decrement" class="control-label"></label>
                <input asp-for="SearchRequest.DecrTablMin.DecrTabl.Decrement" class="control-label"/>
                <input asp-for="SearchRequest.DecrTablMax.DecrTabl.Decrement" class="control-label"/>
        </div>
        <div class="form-group form-inline">
                <label asp-for="SearchRequest.DecrTablCommon.DecrTabl.WaveSpeed" class="control-label"></label>
                <input asp-for="SearchRequest.DecrTablMin.DecrTabl.WaveSpeed" class="control-label"/>
                <input asp-for="SearchRequest.DecrTablMax.DecrTabl.WaveSpeed" class="control-label"/>
        </div>
        </div>

        <div>
            <a role="button" data-toggle="collapse" href="#DensTablCollapse"
                aria-expanded="false" aria-controls="DensTablCollapse">
                DensTabl
            </a>
        </div>

        <div class="collapse" id="DensTablCollapse">
        <div class="form-group form-inline">
                <label asp-for="SearchRequest.DensTablCommon.DensTabl.Density" class="control-label"></label>
                <input asp-for="SearchRequest.DensTablMin.DensTabl.Density" class="control-label"/>
                <input asp-for="SearchRequest.DensTablMax.DensTabl.Density" class="control-label"/>
        </div>
        </div>

        <div>
            <a role="button" data-toggle="collapse" href="#DielectrCollapse"
                aria-expanded="false" aria-controls="DielectrCollapse">
                Dielectr
            </a>
        </div>

        <div class="collapse" id="DielectrCollapse">
        <div class="form-group form-inline">
                <label asp-for="SearchRequest.DielectrCommon.Dielectr.Diel" class="control-label"></label>
                <input asp-for="SearchRequest.DielectrMin.Dielectr.Diel" class="control-label"/>
                <input asp-for="SearchRequest.DielectrMax.Dielectr.Diel" class="control-label"/>
        </div>
        </div>

        <div>
            <a role="button" data-toggle="collapse" href="#SuspTablCollapse"
                aria-expanded="false" aria-controls="SuspTablCollapse">
                SuspTabl
            </a>
        </div>

        <div class="collapse" id="SuspTablCollapse">
        <div class="form-group form-inline">
                <label asp-for="SearchRequest.SuspTablCommon.SuspTabl.Temper" class="control-label"></label>
                <input asp-for="SearchRequest.SuspTablMin.SuspTabl.Temper" class="control-label"/>
                <input asp-for="SearchRequest.SuspTablMax.SuspTabl.Temper" class="control-label"/>
        </div>
        <div class="form-group form-inline">
                <label asp-for="SearchRequest.SuspTablCommon.SuspTabl.Suspense" class="control-label"></label>
                <input asp-for="SearchRequest.SuspTablMin.SuspTabl.Suspense" class="control-label"/>
                <input asp-for="SearchRequest.SuspTablMax.SuspTabl.Suspense" class="control-label"/>
        </div>
        </div>

        <div>
            <a role="button" data-toggle="collapse" href="#ElOpTablCollapse"
                aria-expanded="false" aria-controls="ElOpTablCollapse">
                ElOpTabl
            </a>
        </div>

        <div class="collapse" id="ElOpTablCollapse">
        <div class="form-group form-inline">
                <label asp-for="SearchRequest.ElOpTablCommon.ElOpTabl.R" class="control-label"></label>
                <input asp-for="SearchRequest.ElOpTablMin.ElOpTabl.R" class="control-label"/>
                <input asp-for="SearchRequest.ElOpTablMax.ElOpTabl.R" class="control-label"/>
        </div>
        </div>

        <div>
            <a role="button" data-toggle="collapse" href="#Elastic1Collapse"
                aria-expanded="false" aria-controls="Elastic1Collapse">
                Elastic1
            </a>
        </div>

        <div class="collapse" id="Elastic1Collapse">
        <div class="form-group form-inline">
                <label asp-for="SearchRequest.Elastic1Common.Elastic1.E1" class="control-label"></label>
                <input asp-for="SearchRequest.Elastic1Min.Elastic1.E1" class="control-label"/>
                <input asp-for="SearchRequest.Elastic1Max.Elastic1.E1" class="control-label"/>
        </div>
        </div>

        <div>
            <a role="button" data-toggle="collapse" href="#MechTablCollapse"
                aria-expanded="false" aria-controls="MechTablCollapse">
                MechTabl
            </a>
        </div>

        <div class="collapse" id="MechTablCollapse">
        <div class="form-group form-inline">
                <label asp-for="SearchRequest.MechTablCommon.MechTabl.K" class="control-label"></label>
                <input asp-for="SearchRequest.MechTablMin.MechTabl.K" class="control-label"/>
                <input asp-for="SearchRequest.MechTablMax.MechTabl.K" class="control-label"/>
        </div>
        </div>

        <div>
            <a role="button" data-toggle="collapse" href="#HardTablCollapse"
                aria-expanded="false" aria-controls="HardTablCollapse">
                HardTabl
            </a>
        </div>

        <div class="collapse" id="HardTablCollapse">
        <div class="form-group form-inline">
                <label asp-for="SearchRequest.HardTablCommon.HardTabl.Hard1" class="control-label"></label>
                <input asp-for="SearchRequest.HardTablMin.HardTabl.Hard1" class="control-label"/>
                <input asp-for="SearchRequest.HardTablMax.HardTabl.Hard1" class="control-label"/>
        </div>
        <div class="form-group form-inline">
                <label asp-for="SearchRequest.HardTablCommon.HardTabl.Hard2" class="control-label"></label>
                <input asp-for="SearchRequest.HardTablMin.HardTabl.Hard2" class="control-label"/>
                <input asp-for="SearchRequest.HardTablMax.HardTabl.Hard2" class="control-label"/>
        </div>
        <div class="form-group form-inline">
                <label asp-for="SearchRequest.HardTablCommon.HardTabl.Mohs" class="control-label"></label>
                <input asp-for="SearchRequest.HardTablMin.HardTabl.Mohs" class="control-label"/>
                <input asp-for="SearchRequest.HardTablMax.HardTabl.Mohs" class="control-label"/>
        </div>
        </div>

        <div>
            <a role="button" data-toggle="collapse" href="#HeatExpnCollapse"
                aria-expanded="false" aria-controls="HeatExpnCollapse">
                HeatExpn
            </a>
        </div>

        <div class="collapse" id="HeatExpnCollapse">
        <div class="form-group form-inline">
                <label asp-for="SearchRequest.HeatExpnCommon.HeatExpn.S11" class="control-label"></label>
                <input asp-for="SearchRequest.HeatExpnMin.HeatExpn.S11" class="control-label"/>
                <input asp-for="SearchRequest.HeatExpnMax.HeatExpn.S11" class="control-label"/>
        </div>
        </div>

        <div>
            <a role="button" data-toggle="collapse" href="#PlavTablCollapse"
                aria-expanded="false" aria-controls="PlavTablCollapse">
                PlavTabl
            </a>
        </div>

        <div class="collapse" id="PlavTablCollapse">
        <div class="form-group form-inline">
                <label asp-for="SearchRequest.PlavTablCommon.PlavTabl.PlavTemp" class="control-label"></label>
                <input asp-for="SearchRequest.PlavTablMin.PlavTabl.PlavTemp" class="control-label"/>
                <input asp-for="SearchRequest.PlavTablMax.PlavTabl.PlavTemp" class="control-label"/>
        </div>
        </div>

        <div>
            <a role="button" data-toggle="collapse" href="#NlOpTablCollapse"
                aria-expanded="false" aria-controls="NlOpTablCollapse">
                NlOpTabl
            </a>
        </div>

        <div class="collapse" id="NlOpTablCollapse">
        <div class="form-group form-inline">
                <label asp-for="SearchRequest.NlOpTablCommon.NlOpTabl.Rij" class="control-label"></label>
                <input asp-for="SearchRequest.NlOpTablMin.NlOpTabl.Rij" class="control-label"/>
                <input asp-for="SearchRequest.NlOpTablMax.NlOpTabl.Rij" class="control-label"/>
        </div>
        </div>

        <div>
            <a role="button" data-toggle="collapse" href="#ElemTablCollapse"
                aria-expanded="false" aria-controls="ElemTablCollapse">
                ElemTabl
            </a>
        </div>

        <div class="collapse" id="ElemTablCollapse">
        <div class="form-group form-inline">
                <label asp-for="SearchRequest.ElemTablCommon.ElemTabl.Znparam" class="control-label"></label>
                <input asp-for="SearchRequest.ElemTablMin.ElemTabl.Znparam" class="control-label"/>
                <input asp-for="SearchRequest.ElemTablMax.ElemTabl.Znparam" class="control-label"/>
        </div>
        <div class="form-group form-inline">
                <label asp-for="SearchRequest.ElemTablCommon.ElemTabl.NazvAngl" class="control-label"></label>
                <input asp-for="SearchRequest.ElemTablCommon.ElemTabl.NazvAngl" class="control-label"/>
        </div>
        <div class="form-group form-inline">
                <label asp-for="SearchRequest.ElemTablCommon.ElemTabl.ZnAngle" class="control-label"></label>
                <input asp-for="SearchRequest.ElemTablMin.ElemTabl.ZnAngle" class="control-label"/>
                <input asp-for="SearchRequest.ElemTablMax.ElemTabl.ZnAngle" class="control-label"/>
        </div>
        </div>

        <div>
            <a role="button" data-toggle="collapse" href="#ModfTablCollapse"
                aria-expanded="false" aria-controls="ModfTablCollapse">
                ModfTabl
            </a>
        </div>

        <div class="collapse" id="ModfTablCollapse">
        <div class="form-group form-inline">
                <label asp-for="SearchRequest.ModfTablCommon.ModfTabl.PointGrp" class="control-label"></label>
                <input asp-for="SearchRequest.ModfTablCommon.ModfTabl.PointGrp" class="control-label"/>
        </div>
        </div>

        <div>
            <a role="button" data-toggle="collapse" href="#EsOpTablCollapse"
                aria-expanded="false" aria-controls="EsOpTablCollapse">
                EsOpTabl
            </a>
        </div>

        <div class="collapse" id="EsOpTablCollapse">
        <div class="form-group form-inline">
                <label asp-for="SearchRequest.EsOpTablCommon.EsOpTabl.P" class="control-label"></label>
                <input asp-for="SearchRequest.EsOpTablMin.EsOpTabl.P" class="control-label"/>
                <input asp-for="SearchRequest.EsOpTablMax.EsOpTabl.P" class="control-label"/>
        </div>
        </div>

        <div>
            <a role="button" data-toggle="collapse" href="#RefrcIndCollapse"
                aria-expanded="false" aria-controls="RefrcIndCollapse">
                RefrcInd
            </a>
        </div>

        <div class="collapse" id="RefrcIndCollapse">
        <div class="form-group form-inline">
                <label asp-for="SearchRequest.RefrcIndCommon.RefrcInd.ZnachInd" class="control-label"></label>
                <input asp-for="SearchRequest.RefrcIndMin.RefrcInd.ZnachInd" class="control-label"/>
                <input asp-for="SearchRequest.RefrcIndMax.RefrcInd.ZnachInd" class="control-label"/>
        </div>
        </div>

        <div>
            <a role="button" data-toggle="collapse" href="#HeatTablCollapse"
                aria-expanded="false" aria-controls="HeatTablCollapse">
                HeatTabl
            </a>
        </div>

        <div class="collapse" id="HeatTablCollapse">
        <div class="form-group form-inline">
                <label asp-for="SearchRequest.HeatTablCommon.HeatTabl.ZnC" class="control-label"></label>
                <input asp-for="SearchRequest.HeatTablCommon.HeatTabl.ZnC" class="control-label"/>
        </div>
        <div class="form-group form-inline">
                <label asp-for="SearchRequest.HeatTablCommon.HeatTabl.Temperat" class="control-label"></label>
                <input asp-for="SearchRequest.HeatTablMin.HeatTabl.Temperat" class="control-label"/>
                <input asp-for="SearchRequest.HeatTablMax.HeatTabl.Temperat" class="control-label"/>
        </div>
        <div class="form-group form-inline">
                <label asp-for="SearchRequest.HeatTablCommon.HeatTabl.C" class="control-label"></label>
                <input asp-for="SearchRequest.HeatTablMin.HeatTabl.C" class="control-label"/>
                <input asp-for="SearchRequest.HeatTablMax.HeatTabl.C" class="control-label"/>
        </div>
        </div>

        <div>
            <a role="button" data-toggle="collapse" href="#DielDissCollapse"
                aria-expanded="false" aria-controls="DielDissCollapse">
                DielDiss
            </a>
        </div>

        <div class="collapse" id="DielDissCollapse">
        <div class="form-group form-inline">
                <label asp-for="SearchRequest.DielDissCommon.DielDiss.TangentD" class="control-label"></label>
                <input asp-for="SearchRequest.DielDissMin.DielDiss.TangentD" class="control-label"/>
                <input asp-for="SearchRequest.DielDissMax.DielDiss.TangentD" class="control-label"/>
        </div>
        </div>


    <button type="submit" class="btn btn-default">Поиск</button>
</form>


<h3>Результаты поиска</h3>

<div class="row">
    @foreach (var item in Model.HeadTabl)
    {
        <div class="col-md-3 col-sm-4">
            <a asp-page="./Details"
               asp-route-systemurl="@item.HeadTabl.SystemUrl">
                @Html.Raw(item.HeadTabl.System)
            </a>
        </div>
    }
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}