@page "{systemUrl}"
@model CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ElemTablNewLanguage.MethodP" class="control-label"></label>
                <input asp-for="ElemTablNewLanguage.MethodP" class="form-control"/>
                <span asp-validation-for="ElemTablNewLanguage.MethodP" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ElemTablNewLanguage.ElemTablNew.A" class="control-label"></label>
                <input asp-for="ElemTablNewLanguage.ElemTablNew.A" class="form-control"/>
                <span asp-validation-for="ElemTablNewLanguage.ElemTablNew.A" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ElemTablNewLanguage.ElemTablNew.B" class="control-label"></label>
                <input asp-for="ElemTablNewLanguage.ElemTablNew.B" class="form-control"/>
                <span asp-validation-for="ElemTablNewLanguage.ElemTablNew.B" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ElemTablNewLanguage.ElemTablNew.C" class="control-label"></label>
                <input asp-for="ElemTablNewLanguage.ElemTablNew.C" class="form-control"/>
                <span asp-validation-for="ElemTablNewLanguage.ElemTablNew.C" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ElemTablNewLanguage.ElemTablNew.Alpha" class="control-label"></label>
                <input asp-for="ElemTablNewLanguage.ElemTablNew.Alpha" class="form-control"/>
                <span asp-validation-for="ElemTablNewLanguage.ElemTablNew.Alpha" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ElemTablNewLanguage.ElemTablNew.Beta" class="control-label"></label>
                <input asp-for="ElemTablNewLanguage.ElemTablNew.Beta" class="form-control"/>
                <span asp-validation-for="ElemTablNewLanguage.ElemTablNew.Beta" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ElemTablNewLanguage.ElemTablNew.Gamma" class="control-label"></label>
                <input asp-for="ElemTablNewLanguage.ElemTablNew.Gamma" class="form-control"/>
                <span asp-validation-for="ElemTablNewLanguage.ElemTablNew.Gamma" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="ElemTablNewLanguage.ElemTablNew.SingCode" class="control-label"></label>
                <select asp-for="ElemTablNewLanguage.ElemTablNew.SingCode" class="form-control" asp-items="ViewBag.SingCode"></select>
                <span asp-validation-for="ElemTablNewLanguage.ElemTablNew.SingCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ElemTablNewLanguage.ElemTablNew.Bknumber" class="control-label"></label>
                <input asp-for="ElemTablNewLanguage.ElemTablNew.Bknumber" class="form-control" />
                <span asp-validation-for="ElemTablNewLanguage.ElemTablNew.Bknumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a onclick="window.history.back();">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}