@page
@model EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Lattice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ElemTablLanguage.Id" />


            <div class="form-group">
                <label asp-for="ElemTablLanguage.MethodP" class="control-label"></label>
                <input asp-for="ElemTablLanguage.MethodP" class="form-control" />
                <span asp-validation-for="ElemTablLanguage.MethodP" class="text-danger"></span>
            </div>    
            <div class="form-group">
                <label asp-for="ElemTablLanguage.Nazbparam" class="control-label"></label>
                <input asp-for="ElemTablLanguage.Nazbparam" class="form-control" />
                <span asp-validation-for="ElemTablLanguage.Nazbparam" class="text-danger"></span>
            </div>    

            <div class="form-group">
                <label asp-for="ElemTablInvariant.Znparam" class="control-label"></label>
                <input asp-for="ElemTablInvariant.Znparam" class="form-control" />
                <span asp-validation-for="ElemTablInvariant.Znparam" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ElemTablInvariant.Errparam" class="control-label"></label>
                <input asp-for="ElemTablInvariant.Errparam" class="form-control" />
                <span asp-validation-for="ElemTablInvariant.Errparam" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ElemTablInvariant.NazvAngl" class="control-label"></label>
                <input asp-for="ElemTablInvariant.NazvAngl" class="form-control" />
                <span asp-validation-for="ElemTablInvariant.NazvAngl" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ElemTablInvariant.ZnAngle" class="control-label"></label>
                <input asp-for="ElemTablInvariant.ZnAngle" class="form-control" />
                <span asp-validation-for="ElemTablInvariant.ZnAngle" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ElemTablInvariant.ErrAngl" class="control-label"></label>
                <input asp-for="ElemTablInvariant.ErrAngl" class="form-control" />
                <span asp-validation-for="ElemTablInvariant.ErrAngl" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="ElemTablInvariant.SingCode" class="control-label"></label>
                <select asp-for="ElemTablInvariant.SingCode" class="form-control" asp-items="ViewBag.SingCode"></select>
                <span asp-validation-for="ElemTablInvariant.SingCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ElemTablInvariant.Bknumber" class="control-label"></label>
                <input asp-for="ElemTablInvariant.Bknumber" class="form-control" />
                <span asp-validation-for="ElemTablInvariant.Bknumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a onclick="window.history.back();">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}