@page
@model EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Lattice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ElemTablNewLanguage.Id" />


            <div class="form-group">
                <label asp-for="ElemTablNewLanguage.MethodP" class="control-label"></label>
                <input asp-for="ElemTablNewLanguage.MethodP" class="form-control" />
                <span asp-validation-for="ElemTablNewLanguage.MethodP" class="text-danger"></span>
            </div>    

            <div class="form-group">
                <label asp-for="ElemTablNewInvariant.A" class="control-label"></label>
                <input asp-for="ElemTablNewInvariant.A" class="form-control" />
                <span asp-validation-for="ElemTablNewInvariant.A" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ElemTablNewInvariant.B" class="control-label"></label>
                <input asp-for="ElemTablNewInvariant.B" class="form-control" />
                <span asp-validation-for="ElemTablNewInvariant.B" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ElemTablNewInvariant.C" class="control-label"></label>
                <input asp-for="ElemTablNewInvariant.C" class="form-control" />
                <span asp-validation-for="ElemTablNewInvariant.C" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ElemTablNewInvariant.Alpha" class="control-label"></label>
                <input asp-for="ElemTablNewInvariant.Alpha" class="form-control" />
                <span asp-validation-for="ElemTablNewInvariant.Alpha" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ElemTablNewInvariant.Beta" class="control-label"></label>
                <input asp-for="ElemTablNewInvariant.Beta" class="form-control" />
                <span asp-validation-for="ElemTablNewInvariant.Beta" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ElemTablNewInvariant.Gamma" class="control-label"></label>
                <input asp-for="ElemTablNewInvariant.Gamma" class="form-control" />
                <span asp-validation-for="ElemTablNewInvariant.Gamma" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="ElemTablNewInvariant.SingCode" class="control-label"></label>
                <select asp-for="ElemTablNewInvariant.SingCode" class="form-control" asp-items="ViewBag.SingCode"></select>
                <span asp-validation-for="ElemTablNewInvariant.SingCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ElemTablNewInvariant.Bknumber" class="control-label"></label>
                <input asp-for="ElemTablNewInvariant.Bknumber" class="form-control" />
                <span asp-validation-for="ElemTablNewInvariant.Bknumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a onclick="window.history.back();">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}