@page
@model EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>AcoustoOptical</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AcOpTablLanguage.Id" />

            <div class="form-group">
                <label asp-for="AcOpTablLanguage.E" class="control-label"></label>
                <input asp-for="AcOpTablLanguage.E" class="form-control" />
                <span asp-validation-for="AcOpTablLanguage.E" class="text-danger"></span>
            </div>    
            <div class="form-group">
                <label asp-for="AcOpTablLanguage.Nsv" class="control-label"></label>
                <input asp-for="AcOpTablLanguage.Nsv" class="form-control" />
                <span asp-validation-for="AcOpTablLanguage.Nsv" class="text-danger"></span>
            </div>    
            <div class="form-group">
                <label asp-for="AcOpTablLanguage.Uzv" class="control-label"></label>
                <input asp-for="AcOpTablLanguage.Uzv" class="form-control" />
                <span asp-validation-for="AcOpTablLanguage.Uzv" class="text-danger"></span>
            </div>    

            <div class="form-group">
                <label asp-for="AcOpTablInvariant.WaveLeng" class="control-label"></label>
                <input asp-for="AcOpTablInvariant.WaveLeng" class="form-control" />
                <span asp-validation-for="AcOpTablInvariant.WaveLeng" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcOpTablInvariant.Nzv" class="control-label"></label>
                <input asp-for="AcOpTablInvariant.Nzv" class="form-control" />
                <span asp-validation-for="AcOpTablInvariant.Nzv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcOpTablInvariant.M1" class="control-label"></label>
                <input asp-for="AcOpTablInvariant.M1" class="form-control" />
                <span asp-validation-for="AcOpTablInvariant.M1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcOpTablInvariant.M2" class="control-label"></label>
                <input asp-for="AcOpTablInvariant.M2" class="form-control" />
                <span asp-validation-for="AcOpTablInvariant.M2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcOpTablInvariant.M3" class="control-label"></label>
                <input asp-for="AcOpTablInvariant.M3" class="form-control" />
                <span asp-validation-for="AcOpTablInvariant.M3" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AcOpTablInvariant.SingCode" class="control-label"></label>
                <select asp-for="AcOpTablInvariant.SingCode" class="form-control" asp-items="ViewBag.SingCode"></select>
                <span asp-validation-for="AcOpTablInvariant.SingCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AcOpTablInvariant.Bknumber" class="control-label"></label>
                <input asp-for="AcOpTablInvariant.Bknumber" class="form-control" />
                <span asp-validation-for="AcOpTablInvariant.Bknumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a onclick="window.history.back();">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}