@page "{systemUrl}"
@model CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="DielectrLanguage.MethodY" class="control-label"></label>
                <input asp-for="DielectrLanguage.MethodY" class="form-control"/>
                <span asp-validation-for="DielectrLanguage.MethodY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DielectrLanguage.Znak" class="control-label"></label>
                <input asp-for="DielectrLanguage.Znak" class="form-control"/>
                <span asp-validation-for="DielectrLanguage.Znak" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DielectrLanguage.Dielectr.FreqDiel" class="control-label"></label>
                <input asp-for="DielectrLanguage.Dielectr.FreqDiel" class="form-control"/>
                <span asp-validation-for="DielectrLanguage.Dielectr.FreqDiel" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DielectrLanguage.Dielectr.Temper_2" class="control-label"></label>
                <input asp-for="DielectrLanguage.Dielectr.Temper_2" class="form-control"/>
                <span asp-validation-for="DielectrLanguage.Dielectr.Temper_2" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DielectrLanguage.Dielectr.Constant" class="control-label"></label>
                <input asp-for="DielectrLanguage.Dielectr.Constant" class="form-control"/>
                <span asp-validation-for="DielectrLanguage.Dielectr.Constant" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DielectrLanguage.Dielectr.Diel" class="control-label"></label>
                <input asp-for="DielectrLanguage.Dielectr.Diel" class="form-control"/>
                <span asp-validation-for="DielectrLanguage.Dielectr.Diel" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DielectrLanguage.Dielectr.ErrY" class="control-label"></label>
                <input asp-for="DielectrLanguage.Dielectr.ErrY" class="form-control"/>
                <span asp-validation-for="DielectrLanguage.Dielectr.ErrY" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="DielectrLanguage.Dielectr.SingCode" class="control-label"></label>
                <select asp-for="DielectrLanguage.Dielectr.SingCode" class="form-control" asp-items="ViewBag.SingCode"></select>
                <span asp-validation-for="DielectrLanguage.Dielectr.SingCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DielectrLanguage.Dielectr.Bknumber" class="control-label"></label>
                <input asp-for="DielectrLanguage.Dielectr.Bknumber" class="form-control" />
                <span asp-validation-for="DielectrLanguage.Dielectr.Bknumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a onclick="window.history.back();">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}