@page
@model EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Dielectric</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DielectrLanguage.Id" />


            <div class="form-group">
                <label asp-for="DielectrLanguage.MethodY" class="control-label"></label>
                <input asp-for="DielectrLanguage.MethodY" class="form-control" />
                <span asp-validation-for="DielectrLanguage.MethodY" class="text-danger"></span>
            </div>    
            <div class="form-group">
                <label asp-for="DielectrLanguage.Znak" class="control-label"></label>
                <input asp-for="DielectrLanguage.Znak" class="form-control" />
                <span asp-validation-for="DielectrLanguage.Znak" class="text-danger"></span>
            </div>    

            <div class="form-group">
                <label asp-for="DielectrInvariant.FreqDiel" class="control-label"></label>
                <input asp-for="DielectrInvariant.FreqDiel" class="form-control" />
                <span asp-validation-for="DielectrInvariant.FreqDiel" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DielectrInvariant.Temper_2" class="control-label"></label>
                <input asp-for="DielectrInvariant.Temper_2" class="form-control" />
                <span asp-validation-for="DielectrInvariant.Temper_2" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DielectrInvariant.Constant" class="control-label"></label>
                <input asp-for="DielectrInvariant.Constant" class="form-control" />
                <span asp-validation-for="DielectrInvariant.Constant" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DielectrInvariant.Diel" class="control-label"></label>
                <input asp-for="DielectrInvariant.Diel" class="form-control" />
                <span asp-validation-for="DielectrInvariant.Diel" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DielectrInvariant.ErrY" class="control-label"></label>
                <input asp-for="DielectrInvariant.ErrY" class="form-control" />
                <span asp-validation-for="DielectrInvariant.ErrY" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="DielectrInvariant.SingCode" class="control-label"></label>
                <select asp-for="DielectrInvariant.SingCode" class="form-control" asp-items="ViewBag.SingCode"></select>
                <span asp-validation-for="DielectrInvariant.SingCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DielectrInvariant.Bknumber" class="control-label"></label>
                <input asp-for="DielectrInvariant.Bknumber" class="form-control" />
                <span asp-validation-for="DielectrInvariant.Bknumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a onclick="window.history.back();">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}