@page "{systemUrl}"
@model CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="SuspTablLanguage.MethodS" class="control-label"></label>
                <input asp-for="SuspTablLanguage.MethodS" class="form-control"/>
                <span asp-validation-for="SuspTablLanguage.MethodS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuspTablLanguage.SuspName" class="control-label"></label>
                <input asp-for="SuspTablLanguage.SuspName" class="form-control"/>
                <span asp-validation-for="SuspTablLanguage.SuspName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SuspTablLanguage.SuspTabl.Temper" class="control-label"></label>
                <input asp-for="SuspTablLanguage.SuspTabl.Temper" class="form-control"/>
                <span asp-validation-for="SuspTablLanguage.SuspTabl.Temper" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuspTablLanguage.SuspTabl.Suspense" class="control-label"></label>
                <input asp-for="SuspTablLanguage.SuspTabl.Suspense" class="form-control"/>
                <span asp-validation-for="SuspTablLanguage.SuspTabl.Suspense" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuspTablLanguage.SuspTabl.ErrSusp" class="control-label"></label>
                <input asp-for="SuspTablLanguage.SuspTabl.ErrSusp" class="form-control"/>
                <span asp-validation-for="SuspTablLanguage.SuspTabl.ErrSusp" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="SuspTablLanguage.SuspTabl.Bknumber" class="control-label"></label>
                <input asp-for="SuspTablLanguage.SuspTabl.Bknumber" class="form-control" />
                <span asp-validation-for="SuspTablLanguage.SuspTabl.Bknumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a onclick="window.history.back();">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}