@page
@model EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Refractive</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RefrcIndLanguage.Id" />

            <div class="form-group">
                <label asp-for="RefrcIndLanguage.MethodIn" class="control-label"></label>
                <input asp-for="RefrcIndLanguage.MethodIn" class="form-control" />
                <span asp-validation-for="RefrcIndLanguage.MethodIn" class="text-danger"></span>
            </div>    

            <div class="form-group">
                <label asp-for="RefrcIndInvariant.Temper" class="control-label"></label>
                <input asp-for="RefrcIndInvariant.Temper" class="form-control" />
                <span asp-validation-for="RefrcIndInvariant.Temper" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RefrcIndInvariant.WaveLeng" class="control-label"></label>
                <input asp-for="RefrcIndInvariant.WaveLeng" class="form-control" />
                <span asp-validation-for="RefrcIndInvariant.WaveLeng" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RefrcIndInvariant.NazbIndx" class="control-label"></label>
                <input asp-for="RefrcIndInvariant.NazbIndx" class="form-control" />
                <span asp-validation-for="RefrcIndInvariant.NazbIndx" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RefrcIndInvariant.ZnachInd" class="control-label"></label>
                <input asp-for="RefrcIndInvariant.ZnachInd" class="form-control" />
                <span asp-validation-for="RefrcIndInvariant.ZnachInd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RefrcIndInvariant.ErrIndex" class="control-label"></label>
                <input asp-for="RefrcIndInvariant.ErrIndex" class="form-control" />
                <span asp-validation-for="RefrcIndInvariant.ErrIndex" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RefrcIndInvariant.SingCode" class="control-label"></label>
                <select asp-for="RefrcIndInvariant.SingCode" class="form-control" asp-items="ViewBag.SingCode"></select>
                <span asp-validation-for="RefrcIndInvariant.SingCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RefrcIndInvariant.Bknumber" class="control-label"></label>
                <input asp-for="RefrcIndInvariant.Bknumber" class="form-control" />
                <span asp-validation-for="RefrcIndInvariant.Bknumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a onclick="window.history.back();">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}