@page "{systemUrl}"
@model CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="DielDissLanguage.MethodY" class="control-label"></label>
                <input asp-for="DielDissLanguage.MethodY" class="form-control"/>
                <span asp-validation-for="DielDissLanguage.MethodY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DielDissLanguage.TangName" class="control-label"></label>
                <input asp-for="DielDissLanguage.TangName" class="form-control"/>
                <span asp-validation-for="DielDissLanguage.TangName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DielDissLanguage.DielDiss.FreqDiss" class="control-label"></label>
                <input asp-for="DielDissLanguage.DielDiss.FreqDiss" class="form-control"/>
                <span asp-validation-for="DielDissLanguage.DielDiss.FreqDiss" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DielDissLanguage.DielDiss.Temper_3" class="control-label"></label>
                <input asp-for="DielDissLanguage.DielDiss.Temper_3" class="form-control"/>
                <span asp-validation-for="DielDissLanguage.DielDiss.Temper_3" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DielDissLanguage.DielDiss.TangentD" class="control-label"></label>
                <input asp-for="DielDissLanguage.DielDiss.TangentD" class="form-control"/>
                <span asp-validation-for="DielDissLanguage.DielDiss.TangentD" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DielDissLanguage.DielDiss.ErrDiss" class="control-label"></label>
                <input asp-for="DielDissLanguage.DielDiss.ErrDiss" class="form-control"/>
                <span asp-validation-for="DielDissLanguage.DielDiss.ErrDiss" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="DielDissLanguage.DielDiss.SingCode" class="control-label"></label>
                <select asp-for="DielDissLanguage.DielDiss.SingCode" class="form-control" asp-items="ViewBag.SingCode"></select>
                <span asp-validation-for="DielDissLanguage.DielDiss.SingCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DielDissLanguage.DielDiss.Bknumber" class="control-label"></label>
                <input asp-for="DielDissLanguage.DielDiss.Bknumber" class="form-control" />
                <span asp-validation-for="DielDissLanguage.DielDiss.Bknumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a onclick="window.history.back();">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}