@page
@model EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Dielectric_Loss</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DielDissLanguage.Id" />


            <div class="form-group">
                <label asp-for="DielDissLanguage.MethodY" class="control-label"></label>
                <input asp-for="DielDissLanguage.MethodY" class="form-control" />
                <span asp-validation-for="DielDissLanguage.MethodY" class="text-danger"></span>
            </div>    
            <div class="form-group">
                <label asp-for="DielDissLanguage.TangName" class="control-label"></label>
                <input asp-for="DielDissLanguage.TangName" class="form-control" />
                <span asp-validation-for="DielDissLanguage.TangName" class="text-danger"></span>
            </div>    

            <div class="form-group">
                <label asp-for="DielDissInvariant.FreqDiss" class="control-label"></label>
                <input asp-for="DielDissInvariant.FreqDiss" class="form-control" />
                <span asp-validation-for="DielDissInvariant.FreqDiss" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DielDissInvariant.Temper_3" class="control-label"></label>
                <input asp-for="DielDissInvariant.Temper_3" class="form-control" />
                <span asp-validation-for="DielDissInvariant.Temper_3" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DielDissInvariant.TangentD" class="control-label"></label>
                <input asp-for="DielDissInvariant.TangentD" class="form-control" />
                <span asp-validation-for="DielDissInvariant.TangentD" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DielDissInvariant.ErrDiss" class="control-label"></label>
                <input asp-for="DielDissInvariant.ErrDiss" class="form-control" />
                <span asp-validation-for="DielDissInvariant.ErrDiss" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="DielDissInvariant.SingCode" class="control-label"></label>
                <select asp-for="DielDissInvariant.SingCode" class="form-control" asp-items="ViewBag.SingCode"></select>
                <span asp-validation-for="DielDissInvariant.SingCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DielDissInvariant.Bknumber" class="control-label"></label>
                <input asp-for="DielDissInvariant.Bknumber" class="form-control" />
                <span asp-validation-for="DielDissInvariant.Bknumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a onclick="window.history.back();">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}