@page "{systemUrl}"
@model CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="DensTablLanguage.MethodD" class="control-label"></label>
                <input asp-for="DensTablLanguage.MethodD" class="form-control"/>
                <span asp-validation-for="DensTablLanguage.MethodD" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DensTablLanguage.DensTabl.Density" class="control-label"></label>
                <input asp-for="DensTablLanguage.DensTabl.Density" class="form-control"/>
                <span asp-validation-for="DensTablLanguage.DensTabl.Density" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DensTablLanguage.DensTabl.ErrDens" class="control-label"></label>
                <input asp-for="DensTablLanguage.DensTabl.ErrDens" class="form-control"/>
                <span asp-validation-for="DensTablLanguage.DensTabl.ErrDens" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DensTablLanguage.DensTabl.SingCode" class="control-label"></label>
                <select asp-for="DensTablLanguage.DensTabl.SingCode" class="form-control" asp-items="ViewBag.SingCode"></select>
                <span asp-validation-for="DensTablLanguage.DensTabl.SingCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DensTablLanguage.DensTabl.Bknumber" class="control-label"></label>
                <input asp-for="DensTablLanguage.DensTabl.Bknumber" class="form-control" />
                <span asp-validation-for="DensTablLanguage.DensTabl.Bknumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a onclick="window.history.back();">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}